@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Parisienne&display=swap');

.big-pretentious-typeface {
    font-family: 'Parisienne', cursive;
    font-size: 72px;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    color: $color-white;
    text-shadow: $text-shadow;
    user-select: none;
}

/* I am not a clever man. */
.center-text {
    font-family: 'Monoton', cursive;
    font-size: 48px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    background: linear-gradient($color-black, transparent);
    backdrop-filter: opacity(0.1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: opacity(1) invert(1.35%);
    mix-blend-mode: hard-light;
    background-blend-mode: hard-light;
    user-select: none;
}
