.parallax {
  width: 100vw;
  height: 300px;
  background: url("/dist/images/buildings.svg") repeat-x,
    url("/dist/images/foliage.svg") repeat-x;
  background-size: contain;
  position: fixed;
  bottom: 0;
}
